* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(22, 22, 163);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-container {
    height: 500px;
    background-color: rgb(22, 22, 163);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-home {
    width: 15vh;
    margin: 5vh;
}

.start-button {
    border: 1px solid pink;
    background-color: red;
    color: white;
    font-weight: solid;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.game-container {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.points-container {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}

.points-container .result {
    position: center;
    padding-left: 20%;
    color: white;
    background-color: transparent;
}

.points-container .points {
    padding-left: 25%;
    padding-right: 3%;
    color: white;
    background-color: transparent;
}

.question-container {
    background-color: rgb(13, 13, 101);
    height: 13%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-container p {
    color: white;
    background-color:  rgb(13, 13, 101);
    font-size: 20px;
    font-weight: bold;
}

.option-container {
    background-color:rgb(13, 13, 101);
    height: 34%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.form  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

input {
    display: none;
    width: 100%;
}

label {
    padding: 10px 20px;
    width: 100%;
}

label:hover {
    background-color: rgb(185, 3, 3);
    width: 100%;
    cursor: pointer;
}

.submit-button-container {
    background-color: rgb(13, 13, 101);
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.game-button {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(128, 73, 179);
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.game-button:hover {
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}

.selected-option {
    background-color: rgb(185, 3, 3);   
}

.correct-option {
    background-color: green;
}